PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_example@ep-example-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="super-secret-student-rating-jwt-key-2026"
NODE_ENV="development"
